/*
	Hydrophobicity Chart Generator.
	Authors: Lee Bergstrand 
	Date: 14-01-20
*/

body 
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color:#b6e7f1;
}

#canvasContainer
{
	background-color:#ffffff;
	width: 100%; 
	height: 600px;
	overflow: auto;
	border: 5px solid black;
	border-radius: 10px;
}

#dropZone
{
	background-color: white;
	border: 4px dashed #2a2121;
	padding: 2px;
	margin: 2px;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	height: 400px;
	text-align: center;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}

#dropZone span
{
	font-size: 150%;
	font-weight: bold;
	margin-left:auto;
	margin-right:auto;
}

#fileLogo
{
	height: 40px;
}


